<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>eShop</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
   <link rel="stylesheet" href="style.css">
</head>

<body class="container">
   <div id="app">
      <header><input type="text" class="goods-search" v-model="search"><button class="search-button"
            @click="filterGoods" type="button">Искать</button><button class="cart-button" @click="openBasketCard"
            type="button">Корзина</button>
         <basket-card v-if="basketCardVision">
            <button class="close-cart-button" @click="closeBasketCard" type="button">X</button>
            <basket-goods-item v-for="item in goods" :item="item"></basket-goods-item>
         </basket-card>
      </header>
      <div class="goods-list">
         <goods-item v-for="item in filteredGoods" :item="item"></goods-item>
      </div>
   </div>
   <script src="script.js"></script>
</body>

</html>